<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  welcome to the new "everything store" where we sell all kinds of products and services

  <ul>
    <li><a href="/shop">Go to shop</a></li>
    <li><a href="/seller">manaage your seller account</a></li>
    <li><a href="/login">seller login/logout</a></li>
    <li><a href="/register">register</a></li>
  </ul>
</body>
</html>